<header>
  <input type="checkbox" id="btn-menu">
  <label for="btn-menu"><img src="./assets/menu.png" alt=""></label>

  <nav class="menu">
    <ul>
      <li><a href="">Inventario</a></li>
      <li><a href="">Editar Producto</a></li>
      <li><a href="">Proveedores</a></li>
      <li><a href="">Compra Mercancia</a></li>
    </ul>
  </nav>


<div class="box">
  <form name="form1" action="/recursoEnServidor" method="post">
    <input type="hidden" name="oculto" value="valorOculto" />

    <table width="200" id="one-column-emphasis">
      <caption>
        Formulario de Productos
      </caption>
      <tr>
        <td class="oce-first">ID:</td>
        <td>
          <input class="default" type="text" name="id" />
        </td>
      </tr>
      <tr>
        <td class="oce-first">Nombre del Producto:</td>
        <td>
          <input class="default" type="text" name="producto" />
        </td>
      </tr>
      <tr>
        <td class="oce-first">Marca:</td>
        <td>
          <input class="default" type="text" name="marca" />
        </td>
      </tr>
      <tr>
        <td class="oce-first">Precio:</td>
        <td>
          <input class="default" type="number" name="marca" />
        </td>
      </tr>
      <tr>
        <td class="oce-first">Cantidad Total:</td>
        <td>
          <input class="default" type="number" name="marca" />
        </td>
      </tr>
      <tr>
        <td class="oce-first">Cantidad Ingreso:</td>
        <td>
          <input class="default" type="number" name="marca" />
        </td>
      </tr>
      <tr>
        <td class="oce-first">Proveedor:</td>
        <td>
          <input class="default" type="text" name="marca" />
        </td>
      </tr>

      <tr style="text-align: center">
        <td>
          <input type="reset" value="Limpiar" class="default" />
        </td>
        <td>
          <input type="submit" value="Guardar" class="default" />
        </td>
        <td>
          <input type="submit" value="Eliminar" class="default" />
        </td>
      </tr>
    </table>
  </form>
</div>